<div class="cv-container">
    <div class="container main-content bg-white-opac ">
        <h1>Curriculum Vitae</h1>
        <p>
            Deze pagina geeft u een overzicht van de belangrijkste delen van mijn Curriculum Vitae. Als u graag een volledig exemplaar
            wilt ontvangen, kan u mij steeds contacteren via de <a href="#/contact">contactpagina</a>.
        </p>

        <h2>Opleidingen</h2>
        <table class='table table-striped' >

                <tr>
                    <td>Wetenschappen Wiskunde 6u</td>
                    <td>2006-2012</td>
                </tr>
                <tr>
                    <td>Toegepaste Informatica</td>
                    <td>2012-2016</td>
                </tr>

        </table>

        <h2>Werkervaring</h2>
        <table class='table table-striped'>

                <tr>
                    <td>Jobstudent Dreamland</td>
                    <td>Juli 2012 - Augustus 2012</td>
                </tr>
                <tr>
                    <td>Jobstudent Dreamland</td>
                    <td>Augustus 2013 - September 2013</td>
                </tr>

        </table>

        <h2>Computerkennis</h2>
        <ul>
            <li>
                <h3>Web</h3>
                <table class='table table-striped'>

                        <tr>
                            <td>HTML 5</td>
                            <td>Zeer goed</td>
                        </tr>
                        <tr>
                            <td>CSS</td>
                            <td>Zeer goed</td>
                        </tr>
                        <tr>
                            <td>ASP .NET MVC 5 (C#)</td>
                            <td>Goed</td>
                        </tr>
                        <tr>
                            <td>Javascript</td>
                            <td>Goed</td>
                        </tr>
                        <tr>
                            <td>AngularJS</td>
                            <td>Goed</td>
                        </tr>

                </table>
            </li>

            <li>
                <h3>Programmeren</h3>
                <table class='table table-striped'>

                        <tr>
                            <td>Java</td>
                            <td>Goed</td>
                        </tr>
                        <tr>
                            <td>XML</td>
                            <td>Goed</td>
                        </tr>
                        <tr>
                            <td>Android</td>
                            <td>Goed</td>
                        </tr>
                        <tr>
                            <td>Windows Phone</td>
                            <td>Goed</td>
                        </tr>

                </table>
            </li>
            <li>
                <h3>Databanken</h3>
                <table class='table table-striped'>

                        <tr>
                            <td>MySQL</td>
                            <td>Goed</td>
                        </tr>
                        <tr>
                            <td>SQL Server</td>
                            <td>Goed</td>
                        </tr>

                </table>
            </li>
            <li>
                <h3>Extra</h3>
                <table class='table table-striped'>

                        <tr>
                            <td>MS Office</td>
                            <td>Zeer goed</td>
                        </tr>
                        <tr>
                            <td> GitHub</td>
                            <td>Zeer goed</td>
                        </tr>
                        <tr>
                            <td>Agile methodologieën</td>
                            <td>Zeer goed</td>
                        </tr>
                        <tr>
                            <td>Design patterns</td>
                            <td>Goed</td>
                        </tr>

                </table>
            </li>
        </ul>

        <h2>Talenkennis</h2>
        <table class='table table-striped'>

                <tr>
                    <td>Nederlands</td>
                    <td>Moedertaal</td>
                </tr>
                <tr>
                    <td>Frans</td>
                    <td>Goede kennis</td>
                </tr>
                <tr>
                    <td>Engels</td>
                    <td>Gematigde kennis</td>
                </tr>
        </table>
    </div>
</div>
