<div class="cv-container">
    <div class="container main-content bg-white-opac ">
        <h1>Curriculum Vitae</h1>
        <p>
            Deze pagina geeft u een overzicht van de belangrijkste delen van mijn Curriculum Vitae. Als u graag een volledig exemplaar
            wilt ontvangen, kan u mij steeds contacteren via de <a href="#/contact">contactpagina</a>.
        </p>

        <h2>Opleidingen</h2>
        <table style="width:70%">
            <tr>
                <td>
                    <p>Wetenschappen Wiskunde 6u</p>
                </td>
                <td>
                    <p>2006-2012</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Toegepaste Informatica</p>
                </td>
                <td>
                    <p>2012-2016</p>
                </td>
            </tr>
        </table>

        <h2>Computerkennis</h2>
        <ul>
            <li>
                <h3>Web</h3>
                <table style="width:70%">
                    <tr>
                        <td>
                            <p>HTML 5</p>
                        </td>
                        <td>
                            <p>Zeer goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>CSS 3</p>
                        </td>
                        <td>
                            <p>Zeer goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>ASP .NET MVC 5 (C#)</p>
                        </td>
                        <td>
                            <p>Zeer goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Javascript</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>AngularJS</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                </table>
            </li>

            <li>
                <h3>Programmeren</h3>
                <table style="width:70%">
                    <tr>
                        <td>
                            <p>Java</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>XML</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Android</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Windows Phone</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                </table>
            </li>
            <li>
                <h3>Databanken</h3>
                <table style="width:70%">
                    <tr>
                        <td>
                            <p>MySQL</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>SQL Server</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                </table>
            </li>
            <li>
                <h3>Extra</h3>
                <table style="width:70%">
                    <tr>
                        <td>
                            <p>MS Office</p>
                        </td>
                        <td>
                            <p>Zeer goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>GitHub</p>
                        </td>
                        <td>
                            <p>Zeer goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Agile methodologieën</p>
                        </td>
                        <td>
                            <p>Zeer goed</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Design patterns</p>
                        </td>
                        <td>
                            <p>Goed</p>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>

        <h2>Talenkennis</h2>
        <table style="width:70%">
            <tr>
                <td>
                    <p>Nederlands</p>
                </td>
                <td>
                    <p>Moedertaal</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Frans</p>
                </td>
                <td>
                    <p>Goede kennis</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Engels</p>
                </td>
                <td>
                    <p>Gematigde kennis</p>
                </td>
            </tr>
        </table>
    </div>
</div>