<div class="extra-container">
    <div class="container main-content bg-white-opac ">
        <h1>Workshops & interessante links</h1>
        <h2>Workshops</h2>
        <table class='table table-striped'>
            <tbody>
                <tr>
                    <td>
                        <a target="_blank" href="../documents/Certificaat_Rapporteren.pdf">
                        Workshop Rapporteren
                    </a>
                    </td>
                    <td>
                        13/03/2014
                    </td>
                </tr>
                <tr>
                    <td>
                        <a target="_blank" href="../documents/Certificaat_Solliciteren.pdf">
                        Workshop Solliciteren
                    </a>
                    </td>
                    <td>
                        17/03/2014
                    </td>
                </tr>
                <tr>
                    <td>
                        <a target="_blank" href="../documents/Certificaat_Creative_Thinking.pdf">
                        Workshop Creative Thinking
                    </a>
                    </td>
                    <td>
                        24/03/2014
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Links</h2>
        <ul>
            <li>
                <h3>Nieuws & weetjes</h3>
                <a target="_blank" href="http://nl.pcmag.com/">
                    PC Magazine
                </a>
                <br>
                <a target="_blank" href="http://tweakers.net/">
                    Tweakers
                </a>
            </li>
            <li>
                <h3>Social media</h3>
                <a target="_blank" href="https://twitter.com/Dupont_Logan">
                    Twitter
                </a>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/LoganDupont">
                    LinkedIn
                </a>
                <br>
                <a target="_blank" href="https://github.com/LoganDupont">
                    Github
                </a>
            </li>
            <li>
                <h3>Interesse</h3>
                <a target="_blank" href="https://allremoteconfs.com/">
                    Conferences
                </a>
                <br>
                <a target="_blank" href="https://devchat.tv/">
                    DevChat
                </a>
                <br>
                <a target="_blank" href="https://angular.io/">
                    Angular
                </a>
                <br>
                <a target="_blank" href="https://hacksummit.org/">
                    Hacksummit
                </a>
                <br>
                <a target="_blank" href="http://www.hackthefuture.be/">
                    Hack The Future
                </a>
                <br>
                <a target="_blank" href="https://www.devoxx.be/">
                    Devoxx
                </a>
            </li>
            <li>
                <h3>Hulp</h3>
                <a target="_blank" href="http://stackoverflow.com/">
                    Stack Overflow
                </a>
                <br>
                <a target="_blank" href="http://developer.android.com/">
                    Android
                </a>
                <br>
                <a target="_blank" href="https://www.pluralsight.com/">
                    Pluralsight
                </a>
            </li>
        </ul>
    </div>
</div>