<div class="extra-container">
    <div class="container main-content bg-white-opac ">
        <h1>Workshops & interessante links</h1>
        <h2>Workshops</h2>
        <table style="width:70%">
            <tr>
                <td>
                    <a target="_blank" href="../documents/Certificaat_Rapporteren.pdf">
                        <p>Workshop Rapporteren</p>
                    </a>
                </td>
                <td>
                    <p>13/03/2014</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="../documents/Certificaat_Solliciteren.pdf">
                        <p>Workshop Solliciteren</p>
                    </a>
                </td>
                <td>
                    <p>17/03/2014</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="../documents/Certificaat_Creative_Thinking.pdf">
                        <p>Workshop Creative Thinking</p>
                    </a>
                </td>
                <td>
                    <p>24/03/2014</p>
                </td>
            </tr>
        </table>

        <h2>Links</h2>
        <ul>
            <li>
                <h3>Nieuws & weetjes</h3>
                <a target="_blank" href="http://nl.pcmag.com/">
                    <p>PC Magazine</p>
                </a>
                <a target="_blank" href="http://tweakers.net/">
                    <p>Tweakers</p>
                </a>
            </li>
            <li>
                <h3>Social media</h3>
                <a target="_blank" href="https://twitter.com/Dupont_Logan">
                    <p>Twitter</p>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/LoganDupont">
                    <p>LinkedIn</p>
                </a>
                <a target="_blank" href="https://github.com/LoganDupont">
                    <p>Github</p>
                </a>
            </li>
            <li>
                <h3>Interesse</h3>
                <a target="_blank" href="https://allremoteconfs.com/">
                    <p>Conferences</p>
                </a>
                <a target="_blank" href="https://devchat.tv/">
                    <p>DevChat</p>
                </a>
                <a target="_blank" href="https://angular.io/">
                    <p>Angular</p>
                </a>
                <a target="_blank" href="https://hacksummit.org/">
                    <p>Hacksummit</p>
                </a>
                <a target="_blank" href="http://www.hackthefuture.be/">
                    <p>Hack The Future</p>
                </a>
                <a target="_blank" href="https://www.devoxx.be/">
                    <p>Devoxx</p>
                </a>
            </li>
            <li>
                <h3>Hulp</h3>
                <a target="_blank" href="http://stackoverflow.com/">
                    <p>Stack Overflow</p>
                </a>
                <a target="_blank" href="http://developer.android.com/">
                    <p>Android</p>
                </a>
                <a target="_blank" href="https://www.pluralsight.com/">
                    <p>Pluralsight</p>
                </a>
            </li>
        </ul>
    </div>
</div>