<div class="main-container">
    <div class="container main-content bg-white-opac ">
        <h1>Welkom in mijn E-portfolio</h1>
        <p>
            Dit portfolio is gecreëerd binnen het kader van mijn opleiding Toegepaste Informatica aan de Hogeschool Gent. Hiermee wil
            ik in de eerste plaats jullie op een eenvoudige manier laten kennis maken met mezelf. Daarnaast kan het ook dienen
            ter ondersteuning van mijn CV en jullie een beter beeld te laten krijgen over mijn kennis op het vlak van Informatica.
        </p>
        <p>
            Je kan hier terecht voor informatie over mezelf en mijn interesses. Daarnaast kan je ook mijn CV, projecten en workshops
            bekijken van de afgelopen jaren en zijn er interessante links terug te vinden.
        </p>
        <p>Indien je vragen hebt, aarzel dan niet om contact met mij op te nemen.</p>
        <p>Ten slotte wens ik u veel leesplezier!</p>
    </div>
</div>